body {
  background-color:rgb(255, 0, 144)
}

.App-header {
  margin: 30px 0;
}

a{
  color:blue
}
.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 30px 0
}